<div class = "container" style="  background-repeat: no-repeat ;margin-top:20px;
">
	<div class="wrapper">
		<form  name="Login_Form" class="form-signin">       
		    <h3 class="form-signin-heading">Admin login</h3>
			  <hr class="colorgraph"><br>
			  <div class="form-group emailInput has-feedback">

			
				<input type="text" id="inputemail" class="form-control" name="email" placeholder="Enter your Email" required="" autofocus=" " /><br></div>
				<input type="password" id="inputpassword" class="form-control" name="Password" placeholder="Password" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$"required="" autofocus=" "/>     		  
			 
			 <div   class="center"> <button  id="button" class="btn  btn-lg btn-primary " name="Submit" value="Login" type="Submit">Login</button> </div> 			
		<label id="msg" ></label>
			</form>			
	</div>
</div>
	
	
