<nav class="navbar" style="height:60px">
<h3 class="sample mr-auto">fundooNotes Admin</h3>
<!-- <button class="navbar-brnd ml-auto"><h5>Logout</h5></button> -->
<button type="button" class="btn btn-secondary float-left"><h5>Logout</h5></button>

</nav>
<div class="container-fluid">

<div class="row " style="margin-left:auto" id="services" ></div>

<div class="container" style="width:80%">
<table id="example" class="table table-bordered table-hover" style="background: linear-gradient(to bottom, #ccffcc 0%, #ffffcc 100%);
;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Serail num</th>
        <th scope="col">FIrst name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Service</th>
    </tr>
    </thead>
    
  
  </table></div>






<div style="height:40px;width:50px">


</div>


  </div>