.navbar{
  background-color: #003366;
  position:sticky;
}
.container-fluid{
  background-color: rgba(152, 196, 207, 0.171);
}
h3{

color: #fafaf6;
}
h5{
    background-color: none;
  color: rgb(251, 246, 253);
}
